<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02850.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,312},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02851.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02852.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,312},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02853.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,312},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02854.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,312},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02855.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02856.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,794},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02857.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,720},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02858.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,646},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02859.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02860.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02861.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02862.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02863.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02864.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02865.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02866.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02867.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02868.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02869.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02870.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02871.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02872.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02873.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02874.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02875.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02876.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02877.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02878.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,572},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02879.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02880.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02881.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02882.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02883.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02884.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02885.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02886.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02887.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02888.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02889.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02890.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02891.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02892.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02893.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02894.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02895.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02896.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02897.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02898.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02899.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02900.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02901.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02902.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02903.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02904.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,64},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02905.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02906.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02907.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02908.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02909.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02910.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,64},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02911.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02912.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,64},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02913.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,64},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02914.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,64},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02915.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02916.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02917.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02918.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,498},{60,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>02919.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,312},{60,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:507c26bee1dbed6aa02e90e524df8d64$</string>
            <key>textureFileName</key>
            <string>level.png</string>
        </dict>
    </dict>
</plist>
